<!-- BLOG SINGLE -->
<div class="blog single full-thumbnail">
    <!-- blog post -->
    <article class="entry-post">
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="#">{{ article.0.title }}</a>
            </h2>
            <div class="meta-line clearfix">
                <div class="meta-author-category pull-left">
                    <span class="post-author">by
                        <a href="{{ url('sortArticles', {'sortBy': 'author', 'param': article.0.user.slug}) }}">
                            {{ article.0.user.name }}
                        </a>
                    </span>
                    <span class="post-category">
                        In:
                        {% for key, category in article.0.categories %}
                            {% if key != 0 %},{% endif %}
                            <a href="{{ url('sortArticles', {'sortBy': 'category', 'param': category.slug}) }}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    </span>
                </div>
                <div class="meta-tag-comment pull-right">
                    <span class="post-tags">
                        <i class="fa fa-tag"></i>
                        {% for key, tag in article.0.tags %}
                            {% if key != 0 %},{% endif %}
                            <a href="{{ url('sortArticles', {'sortBy': 'tag', 'param': tag.slug}) }}">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    </span>
                    <span class="post-comment"><i class="fa fa-comments"></i>
                        <a href="#comments">{{ article.countComments }} Comments</a>
                    </span>
                </div>
            </div>
        </header>
        <div class="entry-content clearfix">
            <figure class="featured-image">
                <div class="post-date-info clearfix">
                    <span class="post-month">{{ article.0.createdAt|date("M") }}</span>
                    <span class="post-date">{{ article.0.createdAt|date("d") }}</span>
                    <span class="post-year">{{ article.0.createdAt|date("Y") }}</span>
                </div>
                <img src="{{ asset(article.0.pictureBig) }}" class="img-responsive" alt="featured-image">
            </figure>
            <div class="excerpt">{{ article.0.text }}</div>
        </div>
    </article>
    <!-- end blog post -->
    <hr>


    {#<!-- social sharing -->#}
    {#<div class="social-sharing clearfix">#}
        {#<h3 class="section-heading pull-left">Share This Story: </h3>#}
        {#<ul class="list-inline sharing-tools">#}
            {#<li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>#}
            {#<li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>#}
            {#<li><a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>#}
            {#<li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>#}
        {#</ul>#}
    {#</div>#}
    {#<!-- end social sharing -->#}
    {#<hr>#}


    {#<!-- author info -->#}
    {#<section class="author-info">#}
        {#<h3 class="section-heading">About The Author</h3>#}
        {#<div class="media">#}
            {#<a href="#" class="media-left">#}
                {#<img src="{{ asset('images/user2.png') }}" class="img-circle" alt="Avatar">#}
            {#</a>#}
            {#<div class="media-body">#}
                {#<a href="#" class="author-name">{{ article.0.user.name }}</a>#}
                {#<p>About author</p>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
    {#<!-- end author info -->#}
    {#<hr>#}


    {#<!-- related post -->#}
    {#<section>#}
        {#<h3 class="section-heading">Related articles</h3>#}
        {#<ul class="list-unstyled related-post-list row">#}
            {#<li class="col-md-4">#}
                {#<a href="#">#}
                    {#<img src="{{ asset('images/buildings-med.jpg') }}" class="img-responsive" alt="Related Post">#}
                {#</a>#}
                {#<a href="#" class="post-title">Monotonectally Pursue Extensive Process iImprovements</a>#}
            {#</li>#}
            {#<li class="col-md-4">#}
                {#<a href="#">#}
                    {#<img src="{{ asset('images/buildings-med.jpg') }}" class="img-responsive" alt="Related Post">#}
                {#</a>#}
                {#<a href="#" class="post-title">Progressively Maximize Multidisciplinary Innovation Before Proactive#}
                    {#E-markets</a>#}
            {#</li>#}
            {#<li class="col-md-4">#}
                {#<a href="#">#}
                    {#<img src="{{ asset('images/buildings-med.jpg') }}" class="img-responsive" alt="Related Post">#}
                {#</a>#}
                {#<a href="#" class="post-title">Phosfluorescently conceptualize team</a>#}
            {#</li>#}
        {#</ul>#}
    {#</section>#}
    {#<!-- end related post -->#}
    {#<hr>#}


    <!-- comments -->
    <article class="comments" id="comments">
        <h3 class="section-heading">Comments ({{ article.countComments }})</h3>
        <ul class="media-list">
            <li class="media">
                {% for key, comment in article.0.comments %}
                    <a href="#" class="media-left">
                        {% if comment.user.photo %}
                            <img src="{{ asset(comment.user.photo) }}" class="avatar" alt="avatar">
                        {% else %}
                            <span class="avatar anonymous"><i class="fa fa-user"></i></span>
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading comment-author"><a href="#">{{ comment.user.name }}</a></h4><span
                                class="timestamp text-muted">{{ comment.createdAt|date("M d, Y H:i:s") }}</span>
                        <p>{{ comment.text }}</p>
                        <p><i class="fa fa-star-o"></i> {{ comment.rating }}</p>
                        <p><a href="#"><i class="fa fa-reply"></i> Reply</a></p>
                        <hr>
                    </div>
                {% endfor %}
            </li>

            {#<li class="media">#}
                {#<a href="#" class="media-left">#}
                    {#<img src="{{ asset('images/user2.png') }}" class="avatar" alt="avatar">#}
                {#</a>#}
                {#<div class="media-body">#}
                    {#<h4 class="media-heading comment-author"><a href="#">John Doe</a></h4><span#}
                            {#class="timestamp text-muted">Dec 11, 2014 12:30 PM</span>#}
                    {#<p>Text</p>#}
                    {#<p><a href="#"><i class="fa fa-reply"></i> Reply</a></p>#}
                    {#<hr>#}
                    {#<div class="media comment-by-author">#}
                        {#<a href="#" class="media-left">#}
                            {#<img src="{{ asset('images/user2.png') }}" class="avatar" alt="avatar">#}
                        {#</a>#}
                        {#<div class="media-body">#}
                            {#<h4 class="media-heading comment-author"><a href="#">Antonius</a></h4><span#}
                                    {#class="timestamp text-muted">Dec 12, 2014 18:40 PM</span>#}
                            {#<p>Text</p>#}
                            {#<p><a href="#"><i class="fa fa-reply"></i> Reply</a></p>#}
                            {#<hr>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="media child">#}
                    {#<a href="#" class="media-left">#}
                        {#<span class="avatar anonymous"><i class="fa fa-user"></i></span>#}
                    {#</a>#}
                    {#<div class="media-body">#}
                        {#<h4 class="media-heading comment-author"><a href="#">Anonymous</a></h4><span#}
                                {#class="timestamp text-muted">8 hours ago</span>#}
                        {#<p>Text</p>#}
                        {#<p><a href="#"><i class="fa fa-reply"></i> Reply</a></p>#}
                    {#</div>#}
                {#</div>#}
            {#</li>#}

        </ul>
    </article>
    <!-- end comments -->
    <hr>
    <!-- comment form -->
    <section class="comment-form margin-bottom" id="formBlock">
        <h3 class="section-heading">Leave A Comment</h3>
        <p class="heading">Required fields are marked *. Your email will not be published or shared.</p>

        {{ render( controller('AppBundle:Frontend/Blog:newComment', {'slug': app.request.attributes.get('slug')})) }}

    </section>
    <!-- end comment form -->
</div>
<!-- END BLOG SINGLE -->
