<div class="blog medium-thumbnail margin-bottom-30px">
    {% for article in articles %}
        <article class="entry-post">
            <header class="entry-header">
                <h2 class="entry-title">
                    <a href="{{ url('showArticle', {'slug': article.slug}) }}">{{ article.title }}</a>
                </h2>
                <div class="meta-line clearfix">
                    <div class="meta-author-category pull-left">
                        <span class="post-author">by <a href="#">{{ article.user.name }}</a></span>
                        <span class="post-category">In:
                            <a href="#">Business</a>,
                            <a href="#">Creative</a>,
                            <a href="#">Media</a>
                        </span>
                    </div>
                    <div class="meta-tag-comment pull-right">
                        <span class="post-tags">
                            <i class="fa fa-tag"></i>
                            {% for key, tag in article.tags %}
                                {% if key != 0 %},{% endif %}
                                <a href="#">{{ tag.tag }}</a>
                            {% endfor %}
                        </span>
                        <span class="post-comment"><i class="fa fa-comments"></i>
                            <a href="#">3 Comments</a></span>
                    </div>
                </div>
            </header>
            <div class="entry-content clearfix">
                <div class="row">
                    <div class="col-sm-5">
                        <figure class="featured-image">
                            <a href="#">
                                <div class="post-date-info clearfix">
                                    <span class="post-month">{{ article.createdAt|date("M") }}</span>
                                    <span class="post-date">{{ article.createdAt|date("d") }}</span>
                                    <span class="post-year">{{ article.createdAt|date("Y") }}</span>
                                </div>
                                <img src="{{ asset('images/buildings-med.jpg') }}" class="img-responsive"
                                     alt="featured-image">
                            </a>
                        </figure>
                    </div>
                    <div class="col-sm-7">
                        <div class="excerpt">
                            <p>{{ article.article|length > 400 ? article.article|slice(0, 400) ~ '...' : article.article }}</p>
                            <p class="read-more">
                                <a href="{{ url('showArticle', {'slug': article.slug}) }}" class="btn btn-primary">
                                    Read More <i class="fa fa-long-arrow-right"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <hr>
    {% endfor %}

</div>
<ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
</ul>

{{ dump() }}
