<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/my-custom-styles.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="wrapper">
            {{ include( 'AppBundle::navBar.html.twig' ) }}
            {% block body %}{% endblock %}
            {{ include( 'AppBundle::footer.html.twig' ) }}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>

{#slyamzano from http://shapebootstrap.net/item/1525218-repute-responsive-multipurpose-business-theme/live-demo#}