{% extends 'AppBundle:admin:admin.html.twig' %}

{% block content %}

    <h2 class="section-heading">Users</h2>

    <p style="text-align: right;">
        <a class="btn btn-sm btn-default" href="{{ url('userEdit', {'action': 'new'}) }}" role="button" id="show_add_form">
            Add new user
        </a>
    </p>

    <div id="formBlock"></div>

    {{ form_start(delete) }}
    <div class="table-responsive">
        <table class="table table-striped table-squad">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
                <th>Password</th>
                <th>Created</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>

            {% if users.query.firstResult is defined %}
                {% set first = users.query.firstResult %}
            {% else %}
                {% set first = 0 %}
            {% endif %}

            {% for key, user in users %}
                <tr>
                    <td>{{ first + key + 1 }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.role.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.createdAt|date("M d, Y") }}</td>
                    <td>
                        <a class="edit" href="{{ url('userEdit', {'action': 'edit', 'id': user.id}) }}">
                            edit
                        </a>
                    </td>
                    <td style="text-align: center">
                        {{ form_widget(attribute(delete.users, key)) }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="7"></td>
                <td style="text-align: center">
                    {{ form_end(delete) }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    {% if users.countPages is defined and users.countPages > 1 %}
        {{ include('AppBundle::pagination.html.twig', {
            'route': app.request.attributes.get('_route'),
            'params': app.request.attributes.get('_route_params'),
            'page': users.currentPage,
            'pages': users.countPages
        })
        }}
    {% endif %}

{% endblock content %}